<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>Your recommendation</title>
</head>

<body>
  <div class='container'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/home">Welcome to my Movie Recommender!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="https://en.wikipedia.org/wiki/Non-negative_matrix_factorization">Methodology</a>
          <a class="nav-item nav-link" href="https://github.com/paizsgyorgy/Movie_recommender">Github</a>
        </div>
      </div>
    </nav>
    <div class='jumbotron'>
      <!-- Jinja Templates. Use double curly brackets-->
      <h4>Your top 5 recommendations:</h4>
      <ul>
        {% for movie in movies_html %}
        <li>{{ movie }}</li>
        {% endfor %}
      </ul>

      <p>Click <a href='/home'>here</a> to go back to the home page.</p>
    </div>

  </div>
</body>

</html>
